// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  form.form-signup,
  form.form-login {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 30px;
    margin-top: 40px;
  }

  .row.dashboard {
    .span3 {
      padding: 14px 30px 14px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin: 0 15px 10px;
      height: 100px;

      p {
        line-height: 60px;
        font-size: 57px;
        text-align: center;
        margin-top: 10px;
        color: #FF6600;
      }
    }
  }
}