/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "message";
@import "bootstrap.min.css";
@import "admin";
@import "font-awesome/css/font-awesome.min.css";
@import "hubs.css.scss";
@import "sessions.css.scss";

body {
  color: #5a5a5a;
}

a {
  text-decoration: none;
}

h1 a {
  text-align: center;
  text-decoration: none;
}

#loading {
  font-size: 72px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 200px;
  z-index: 50;
  color: #ffffff;
}

.main-container {
  width: 100%;
  color: #ffffff;
  margin: 0 auto;
  overflow: hidden;
  .content {
    margin: 0px auto;
    width: 94%;

    li {
      font-size: 40px;
      text-shadow: 0px 1px 1px #111;
      z-index: 100;
      line-height: 120%;
      list-style: none;

      p {
        text-indent: 2em;
      }

      blockquote {
        font-size: 40px;
      }
      .footprint {
        font-size: 18px;
        text-align: center;
        line-height: 100%;
        margin-bottom: 10px;

        img {
          max-width: 75px;
          max-height: 75px;
          border-radius: 45px;
          border: 5px solid white;
          margin-top: 15px;
          margin-bottom: 10px;
          box-shadow: 0 0 15px #000;
        }
      }
    }

    li.alert {
      padding: 19px 35px 19px 14px;
      height: 200px;
    }

  }
}

.item {
  margin: 1.3em 0 1em;
  padding: 1.3em;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: rgb(250, 250, 250);
  border: 1px solid #eee;
}

.image-content li {
  text-align: center;
  padding: 20px 0;
  img {
    max-width: 100%;
    max-height: 100%

  }
  figure {
    img {
      max-width: 100%;
    }
  }
}

.weibo-content {
  li .weibo {
    text-align: center;
    p {
      text-align: left;
    }
    img {
      max-height: 100%;
      max-width: 100%;
    }
    .retweet {
      p {
        font-size: 26px;
        line-height: 120%;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
  color: #ffffff;
  width: 100%;
  left: 0;
  padding: 5px 10px;
  text-align: center;

  a {
    color: #333;
    margin-left: 40px;
  }
}

.sohub {
  margin: 125px auto 0;
  text-align: center;
  font-family: 'Cherry Swash', cursive;

  h1 {
    margin-bottom: 60px;
    font-size: 110px;
  }
}

.big-screen-container .progress {
  position: fixed;
  bottom: 11px;
  width: 100%;
  left: 0;
}

