// Place all the styles related to the Hub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  overflow: hidden;
  background-color: #1f8dd6;
}

.footer a{
  color: #ffffff;
}