// Place all the styles related to the Hub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  overflow: hidden;
  //background-color: #1f8dd6;
  //background-color: #459faa;
  background-color: #0dacd4;
}

.footer a {
  color: #ffffff;
}

.main-container{
  div{
    i{
      margin: 50px auto auto 60px;
      position: absolute;
      color: #FDA343;
    }
  }
}