.container {
  .narrow-body {
    width: 450px;
    border: 1px solid #999;
    margin: 0 auto;
    text-align: center;
    padding: 32px 48px;
    border-radius: 4px;
    font-size: 40px;
    background: #4F9FCF;
    color: #ffffff;

    span {
      font-size: 12px;
      margin-top: 30px;
    }
  }
}